body{
	background: #000000;
	font-size: 16px;
	color: #ffffff
}

header{
	background: #ffffff;
	height: 80px;
}

header h1{
	font-size: 1.5rem; 
	color: #000000;
	margin:24px 0px 0px 13px;
	float: left;
	 }


.img-logo img{
	height: 70px;
	margin-top: 5px;
	float: left;
	border-radius: 50%;

}

#menu{
	float: right;
	margin:13px 16px 0 0;
}


#menu li{display:inline; margin-right: 14px;}

#menu a{ color: #000;
	text-decoration: none
 }


 #menu a:hover{text-decoration: underline; color: #bf00ff}
#rubrosDeClase{padding-top:3em }

 #rubrosDeClase article{
 	float: left;
 	width: 48%;
 	background: #fff;
 	margin: 1%;
 	color: #666
 }

#rubrosDeClase article h2{color: #000;}

#rubrosDeClase article img{width: 100px; float: left}

.imagenGrande {width: 80px}



footer{
	width: 100%;
	font-size: .8em;
	background: #333;
	color: #ccc;
	border-top: 1px solid #ccc;
	text-align: center;
	height: 40px;
	position: fixed;
	bottom: 0px;
	display: block;
}
footer .br {line-height: 1.5em}
